@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply font-bold text-content hover:text-content visited:text-content;
  }

  :root {
    --button-ease: cubic-bezier(0.08, 0.59, 0.29, 0.99);
    @apply scroll-smooth;
  }
}

@layer utilities {
  .font-geist {
    font-family: "Geist";
  }
  .font-plex-serif {
    font-family: "IBMPlexSerif";
  }
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSerif";
  src: url("/fonts/ibm-plex-serif/IBMPlexSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
